package ${packagePrefix}.service;

import java.util.List;
import java.util.Collection;
import ${packagePrefix}.domain.${className};
import ${packagePrefix}.repository.${className}Repository;

/**
* @ Filename ${className}Service.java
* @ Description
* <li>@author: ${author}</li>
* <li>Date: ${date}</li>
* <li>Version: 1.0</li>
* <li>Content: create</li>
*/
public interface ${className}Service {

   public void save${className} (${className} ${classVar});

   public void delete${className} (${className} ${classVar});

}
